<h1>Authors</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Books</th>
    </tr>
  </thead>
  <tbody>
    <% @authors.each do |author| %>
      <tr>
        <td><%= author.name %></td>
        <td>
          <ul>
            <% author.books.each do |book| %>
              <li><%= book.title %></li>
            <% end %>
          </ul>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>